.custlist{
text-align: center;
padding: 10px;
}
.customerList{
    margin: 10px;
    
}
.listOfCustomer{
    height: 250px;
    overflow: scroll;
}
.tipCalculate{
    margin: 10px;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 30px;
    border:solid green 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
    left: 40%;
}

table {  

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-self: center;

  }
  .x{
position: relative;
right: 250px;
text-align: center;
  }
  .y{
      position: relative;
      left: 250px;
      text-align: center;
  }